.navBar {
    background-color: var(--color1);
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    /* filter: drop-shadow(0px 2px 1px var(--color3)); */
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navLink {
    text-decoration: none;
    position: relative;
    color: var(--font-color1);
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
}

.navLink::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--font-color1);
    transition: 0.4s;
}

.navLink:hover::after {
    width: 100%;
}

.logo {
    position: absolute;
    left: 5.4%;
    color: var(--font-color2);
    font-size: 42px;
    font-weight: 500;
}

.logoImg {
    position: absolute;
    width: 46px;
    margin-block: 2vh;
    left: 2.7%;
}

.searchBox {
    position: absolute;
    right: 20vh;
    background-color: var(--color5);
    border: none;
    padding: 12px;
    border-radius: 22px;
    display: flex;
    gap: 10px;
    filter: drop-shadow(0px 2px 0px var(--color2));
}

.searchInput {
    border: none;
    background-color: var(--color5);
}

.searchImg {
    width: 18px;
}

.navBuy {
    position: absolute;
    right: 7vh;
    display: flex;
    gap: 30px;
}

.coracaoImg {
    width: 26px;
    cursor: pointer;
    transition: 0.3s;
}

.carrinhoImg {
    width: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.coracaoImg:hover, .carrinhoImg:hover {
    transform: scale(1.1);
}

.adBar {
    background-color: var(--color2);
    color: var(--font-color2);
    position: absolute;
    z-index: 11;
    top: 9vh;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.adHeading {
    font-weight: 600;
    text-transform: uppercase;
}

.adLink {
    color: var(--font-color1);
}