.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 20vh;
    width: 100%;
    min-height: 90vh;
    background-color: var(--color1);
}

.sobreSection {
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobreHeading1 {
    font-weight: 800;
    font-size: 68px;
    margin-bottom: 5vh;
}

.sobreHeading3 {
    font-weight: 600;
    font-size: 23px;
}

.sobreText {
    width: 60%;
    font-size: 22px;
    color: var(--font-color2);
    margin-bottom: 10vh;
}

.sobreText2 {
    width: 60%;
    font-size: 22px;
    color: var(--font-color2);
    margin-bottom: 15vh;
}

.sobreImg {
    margin-bottom: 6vh;
    width: 100%;
}

span {
    font-weight: 700;
}